:host {
  fill: inherit;
  align-self: center;
  justify-content: center;
  position: relative;
  min-width: 15px;
  // width: 25px;
  min-height: 16px; // matching body font size
  max-height: 25px;

  svg {
    display: inline-block;
    all: inherit; // inherit everything
    margin: 0; // dont inherit margin
    position: static;
    z-index: 2; // so :before/:after can be used as a BG
  }
}
